.blogContainer {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.blogContainer a {
  text-decoration: underline;
}

.blogSummaryWrapper {
  display: flex;
  flex-direction: row;
  margin: 2%;
  flex-wrap: nowrap;
  justify-content: center;
}

.blogSummaryPosts {
  display: flex;
  width: 50%;
  height: 100%;
  flex-wrap: nowrap;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.highlightjs-black-bg {
  background-color: #000;
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
}

.blogSummaryPosts {
  display: flex;
  width: 50%;
  height: 100%;
  flex-wrap: nowrap;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.blogSummaryTitle {
  width: 100%;
  font-weight: 700;
  font-size: larger;
  font-family: Inconsolata;
}

.blogSummaryContent {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 10px;
  font-family: "Open Sans";
}

.blogSummaryPhoto {
  height: 100%;
  background-color: honeydew;
  display: flex;
  align-self: center;
  justify-content: center;
}

.blogPostBanner {
  display: flex;
  align-self: center;
  max-width: inherit;
}

.blogPostTitle {
  display: flex;
  font-family: Inconsolata;
  max-width: 99%;
}

.blogPostContent {
  display: flex;
  justify-content: flex-start;
  font-family: "Open Sans";
  max-width: 99%;
  min-width: 0;
}

.blogPostContent section {
  max-width: inherit;
}

.blogPostContent a {
  font-family: Inconsolata;
  text-decoration: underline;
}

.blogPostContent pre {
  background-color: #000;
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
}

.blogPostContent code {
  background-color: #000;
  color: #fff;
}

.code-block {
  position: relative;
  padding-left: 3.5em;
}

.line-number {
  position: absolute;
  left: 0;
  width: 3em;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
}

.blogPostContent h1 {
  font-family: Inconsolata;
}

.blogPostContent h2 {
  font-family: Inconsolata;
}

.blogPostContent h3 {
  font-family: Inconsolata;
}

.blogPostContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 0;
  margin: 2%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .blogPostBanner {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .blogPostContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 0;
    margin: 2%;
    justify-content: center;
    align-items: center;
  }
}
