.blogContainer {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.tbl table {
  border: 1px;
  border-color: black;
}

.blogContainer a {
  text-decoration: underline;
}

.blogSummaryWrapper {
  display: flex;
  flex-direction: row;
  margin: 2%;
  flex-wrap: nowrap;
  justify-content: center;
}

.blogSummaryPosts {
  display: flex;
  width: 50%;
  height: 100%;
  flex-wrap: nowrap;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.blogSummaryPosts {
  display: flex;
  width: 50%;
  height: 100%;
  flex-wrap: nowrap;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.blogSummaryTitle {
  width: 100%;
  font-weight: 700;
  font-size: larger;
  font-family: Inconsolata;
}

.blogSummaryContent {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 10px;
  font-family: "Open Sans";
}

.blogSummaryPhoto {
  height: 100%;
  background-color: honeydew;
  display: flex;
  align-self: center;
  justify-content: center;
}

.blogPostBanner {
  align-self: center;
}

.blogPostTitle {
  align-self: center;
  font-family: Inconsolata;
}

.blogPostContent {
  justify-content: flex-start;
  font-family: "Open Sans";
}

.blogPostContent a {
  font-family: Inconsolata;
  text-decoration: underline;
}

.blogPostContent h1 {
  font-family: Inconsolata;
}

.blogPostContent h2 {
  font-family: Inconsolata;
}

.blogPostContent h3 {
  font-family: Inconsolata;
}

.blogPostContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 2%;
}

@media screen and (max-width: 600px) {
  .blogPostBanner {
    max-width: 400px;
    align-self: flex-start;
  }
}
