:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg: #b22234;
  --nav-text: #fafafa;
  --sidenav-bg: #242f40;
}

.dark {
  --bg-color: #121212;
  --text-color: #fafafa;
  --nav-bg: #1f2937;
  --nav-text: #fafafa;
  --sidenav-bg: #111827;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: goldenrod;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

.mermaid {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
}

